.divimagePanelIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 454.66px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
  cursor: pointer;
}
.itemMichael {
  position: absolute;
  top: 12px;
  left: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.harrisonLargeLeather {
  position: relative;
  letter-spacing: 0.8px;
}
.itemLink {
  position: absolute;
  top: 33px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 12.330001831054688px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 56.400001525878906px;
  font-size: var(--font-size-xs);
}
.was39000 {
  flex: 1;
  position: relative;
}
.divlistprice,
.divsaleprice {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-133xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 215px;
}
.divsaleprice {
  padding: var(--padding-12xs) var(--padding-136xl) var(--padding-0)
    var(--padding-0);
  color: var(--color-gray-300);
}
.item,
.itemLink1 {
  position: absolute;
  left: 0;
}
.item {
  width: calc(100% - 0.5px);
  top: 62px;
  right: 0.5px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-103xl-5) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-dimgray);
}
.itemLink1 {
  top: 97px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.8px;
}
.list {
  align-self: stretch;
  position: relative;
  height: 112px;
  z-index: 0;
}
.divproductTileRfk {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
